body {
    background: #fefefe; /*#FCFCBD;*/
    font-family: "arial", "helvetica", sans-serif;
}



#infobox {
    border: solid white 1px;
    padding: 10px;
    margin:auto;
    line-height: 1.1;
    box-shadow: 0 0 0 1px rgba(48,44,38,.08),0 2px 12px 0 rgba(48,44,38,.16);
    background: white;
}

.q0-7{fill: #A13528;}
.q1-7{fill: #C26D6A;}
.q2-7{fill: #CF9A92;}
.q3-7 {fill: #F7EB06; /*#D0B9CF*/;}
.q4-7{fill: #91A6C5;}
.q5-7{fill: #607DA5;}
.qnot5-7{fill: #144E7C;}
.q6-7{fill: #b2b2b2;}
.q7-7{fill: #0f0312;}



